<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="background-color: lightgrey;">
<head>
	<meta charset="ISO-8859-1">
	<title>Welcome to Password Reset Screen</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>

<script>
	function checkPasswordMatch(fieldConfirmPassword) {
		if (fieldConfirmPassword.value != $("#password").val()) {
			fieldConfirmPassword.setCustomValidity("Passwords do not match!");
		} else {
			fieldConfirmPassword.setCustomValidity("");
		}
	}
</script>
<body style="background-color: lightgrey;">
	<div>
		<h2 style="text-align: center;">Create Your Password</h2>
	</div>
	
	<form th:action="@{/reset_password}" method="post" style="max-width: 350px; margin: 0 auto;">
		<input type="hidden" name="userId" th:value="${userId}" />
		<input type="hidden" th:value="${id}" th:attr="name='userId'"/>
		<div class="border border-secondary rounded p-3" style="border: 3px solid #dee2e6!important;" >
			<div>
				<p>
					<input type="password" name="password" id="password" class="form-control"
						placeholder="Enter your new password" required autofocus />
				</p>
				<p>
					<input type="password" class="form-control" placeholder="Confirm your new password" required
						oninput="checkPasswordMatch(this);" />
				</p>

				<p class="text-center">
					<input type="submit" value="Change Password" class="btn btn-primary" />
				</p>
			</div>
		</div>
	</form>
	
</body>
</html>